include LICENSE
include README.rst
include *.py
include *.pxd
include requirements*.txt
exclude .git
exclude build
exclude dist
exclude .coverage
exclude coverage.xml
exclude nosetests.xml

# Project specific
